Source: apt-repo-vitexsoftware
Section: devel
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper (>= 9), wget,lsb-release
Standards-Version: 4.3.0
Homepage: https://deb.sury.org/

Package: apt-repo-vitexsoftware
Architecture: all
Depends: ${misc:Depends},bash|dash,curl,apt, software-properties-common,wget
Description: apt sources for additional VitexSoftware packages
 Add VitexSoftware debian repository into your Debian/Raspbian/Ubuntu
